.header{
  background-color: orange;
}

.buttons{
  gap: 20px;
  margin: 5px 0 10px 20px;
  display:flex;
  align-items: center;

  .unit{
    background-color: brown;
    color: white;
  }
}

.total{
  margin-bottom: 10px;
  font-size: large;
}