.header{
  background-color:#171645;
  color: #fff;
  padding-top: 50px;

  .header_title{
    margin-bottom: 50px;
  }

}

.calculator{
  padding-top: 50px;
  text-align: center;

  .result{
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .abaixo{
    color: #8e24aa;
  }

  .normal{
    color: #4caf50;
  }

  .med{
    color: #ffc107;
  }

  .grau1{
    color: #ff9800;
  }

  .grau2{
    color: #ff5722;
  }

  .grau3{
    color: #bf360c;
  }
}